body {
  font-family: sans-serif;
  padding: 30px;
  /*farbverlauf */
  background: linear-gradient(200deg, #c0c0c0, #265a8b);
  min-height: 100vh;
  color: #333;
}

.app {
  max-width: 400px;
  margin: auto;
}

.inputArea {
  display: flex;
  gap: 10px;
}

input { 
  flex: 1;
  padding: 10px;
  background: #ffffff;
  border: 2px solid #03a696;
  border-radius: 30px; /* Abrunden */
}

button {
  padding: 10px;
  background: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px; /* Abrunden */
  transition: background 0.2s;
}

button:hover {
  background: #1565c0; /* dunkler beim Hover */
}

.task-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  background: #ffffff;
  border: 1px solid #000000;
  padding: 15px;
  position: relative;
  cursor:pointer;
  border-radius: 30px; /* Abrunden */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: print 0.4s ease-out;
  transform-origin: top; /*bewegung startet von oben*/
}

#xpArea {
  width: 50%;
  height: 20px;
  background: #ddd;
  border-radius: 10px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;

}

#xpBar {
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, #d73160, #00f2fe);
  transition: width 0.3s ease;
}


.xp-feedback {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: #253a4c;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
  animation: riseFade 1s ease-out;
}

@keyframes riseFade {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-30px);
  }
}

@keyframes print {
  0% {
    opacity: 0; /*weiches Einbländenn*/
    transform: translateY(-30px) scaleY(0.7) rotate(-9deg);
  }
  60% {
    opacity: 1;
    transform: translateY(10px) scaleY(1.05) rotate(1deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1) rotate(0);
  }
}